# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

/_site/system/app/pages/recentChanges
/_site/system/app/pages/recentChanges?offset=0
/_site/system/app/pages/recentChanges?offset=100
/_site/system/app/pages/recentChanges?offset=25
/_site/system/app/pages/recentChanges?offset=50
/_site/system/app/pages/recentChanges?offset=75
/_site/system/app/pages/reportAbuse
/_site/system/app/pages/sitemap/hierarchy
/_site/system/app/pages/sitemap/hierarchy.md
/hacklabscomputer-clubs.md~
/index.md~
/projects/#disabled.md#
/_site/robots.txt
/_site/stylesheets/pygment_trac.css
/_site/stylesheets/styles.css
/#donate.md#
/_site/LICENSE
